
/*GENERAL*/

html{
    font-family: 'Courier New', Courier, monospace; 
}

/*NAV-MENUE*/

    .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffefe;
  }

.linkHome,.linkPortfolio,.linkContact {
    display:block; 
    color: rgb(11, 10, 10);
    text-align:center;
    padding: 20px 20px;
    text-decoration: none;
    float:left; 
    position: relative;
    left: 41%;
  }

a:hover:not(.linkHome) {
    background-color: #de9f9f;
  }  

.linkHome {
    background-color:#a7ecd3;
  }  
 
/*LAYOUT*/

.grid-container-twoColumns{
    display: grid;
    align-items:center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px; 
    
}
.section{
    background-color:#5e5b5bc8; 
}

.transperant{
  background-color: #5e5b5bc8;
}


.header{
    background-color: #777;
    padding: 40px;
    margin: 0;
    text-align: center;
    font-size: 35px;
    color: white;
}

.footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
  } 

  /*GALLERY*/

  .column {
    float: left;
    width: 30%;
    padding: 3px;
    position: relative;
    left: 7%;
  }
  .gallery-row::after {
    content: "";
    clear: both;
    display: table;
  }
  div.gallery-row img{
    width: 80%;
  }






/*PAGE: INDEX (HOME)*/

.indexBody{ 
    background-image: url("/Users/ida/Visual Studio/portfolio/image/technology-capicity50.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.imageIda{
    max-width: 100%;
    max-height: 100%;
    margin-top: 2%; /*justerar upp och ner*/
    padding: 5%;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
    
}
.text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align:left;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}



/*PAGE: PORTFOLIO*/


.portfolioBody{
  background-image: url("/Users/ida/Visual Studio/portfolio/image/technology-capicity50.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.project-lable{
    font-weight:bold;  
    font-size:large; 
    text-align: center;
}

.portfolioblock{
  background-color: rgb(0, 0, 0);
  max-width: 100%;
}
.quizPic, .lagerPic, .shopPic {
  max-width: 50%;
  max-height: 50%;
}


/*PAGE: CONTACT*/

.contactBody{
    background-image: url("/Users/ida/Visual Studio/portfolio/image/technology-capicity50.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}
.contactList{ 
    font-size: 20px;
    text-align:left;
    margin-inline-start: 25%;
    list-style: none;
    padding: 0;
    color:black
    
}
.mapDiv{
    width: 100%; 
}
.mapFrame{
    width: 80%; 
    height: 500px; 
    position: relative;
    top: 0; 
}











